<div class="p-grid p-fluid">
	<div class="p-col-12 p-md-6">

		<div class="card">

			<h5>Select Labels</h5>

			<div class="p-fluid">
				<div class="p-field p-grid">
					<label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Classification Label:</label>
					<div class="p-col-5 p-md-8"><p-dropdown #classLabel filter="true" styleClass="pMultiSelect" [(ngModel)]="securityLabel" placeholder="&nbsp;" [options]="security_labels" [showClear]="true"></p-dropdown></div>
				</div>
				<div class="p-field p-grid">
					<label for="lastname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image Aspect:</label>
					<div class="p-col-5 p-md-8"><p-dropdown #aspectLabel filter="true" styleClass="pMultiSelect" [options]="aspects" [(ngModel)]="aspect" placeholder="&nbsp;" [showClear]="true"></p-dropdown></div>
				</div>
				<div class="p-field p-grid">
					<label for="lastname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image Source:</label>
					<div class="p-col-5 p-md-8"><p-dropdown #imgSource filter="true" styleClass="pMultiSelect" [options]="image_sources" [(ngModel)]="imageSource" placeholder="&nbsp;" optionLabel="label" [showClear]="true"></p-dropdown></div>
				</div>
			</div>
		</div>


		<div class="card">

			<h5>Select Identifiers</h5>

			<div class="p-fluid">
				<div class="p-field p-grid">
					<label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sconum:</label>
					<div class="p-col-5 p-md-8"><p-chips #sconum styleClass="" [(ngModel)]="sconums" placeholder="&nbsp;"></p-chips></div>
				</div>
				<div class="p-field p-grid">
					<label for="lastname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IIR Number:</label>
					<div class="p-col-5 p-md-8"><p-chips styleClass="pChipsStyleClass" [(ngModel)]="iir_numbers" placeholder="&nbsp;"></p-chips></div>
				</div>
				<div class="p-field p-grid">
					<label for="lastname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other Sources:</label>
					<div class="p-col-5 p-md-8"><p-chips styleClass="pChipsStyleClass" [(ngModel)]="other_sources" placeholder="&nbsp;"></p-chips></div>
				</div>
			</div>
		</div>

		<div class="card">

				<h5>Select Image Date</h5>
				<p-calendar [showIcon]="true" inputId="icon"></p-calendar>
		</div>

	</div>

	<div class="p-col-12 p-md-6">

		<div class="card">
			<h5>Select Files To Upload</h5>
			<p-fileUpload 
			
				#fileUpload 
				name="myfile[]" 
				url="/fake-file.py"
				multiple="multiple"
				accept="image/*" 
				maxFileSize="1000000"     
				customUpload="true"
				(uploadHandler)="myUploader($event)"
				>
				<ng-template pTemplate="content">
					<ul *ngIf="uploadedFiles.length">
						<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
					</ul>
				</ng-template>

			</p-fileUpload>
		</div>

		<div class="card">
			<div class="p-grid">
				<div class="p-col-12 p-md-6">
					<h5>Rating</h5>
					<p-rating></p-rating>
				</div>
			</div>
		</div>

	</div>

</div>
