<div class="p-grid">
    <div class="p-col-12">
        <div class="card docs">

            <h4>Current Version</h4>
            <p>Angular 11 and PrimeNG 11</p>

<p>Cd to the directory where the Angular project is installed, then execute "ng serve" to run the application in your local environment at http://localhost:8080/. Then cd into nodejs directory and start up node server running on port 3000 using "nodemon"</p>
<app-code ngPreserveWhitespaces ngNonBindable lang="markup">
npm install
ng serve --host localhost --port 8080
cd nodejs
nodemon index.js
</app-code>

        </div>
    </div>
</div>
