<p-toolbar>
    <div class="p-toolbar-group-left">
        <span style="font-size: 175%;">Enter Vessel Update Fields</span>
 
    </div>

    <div class="p-toolbar-group-right">
        <button pButton type="button" label="Cancel" (click)="onCancel()" icon="pi pi-times"></button>
        <button pButton type="button" class="p-button-secondary" (click) = "onReset()" label="Reset&nbsp;&nbsp;" icon="pi pi-times-circle"></button>
        <button pButton type="button" class="p-button-success" (click)="onSubmit($event)" label="Submit" icon="pi pi-check"></button>
    </div>
</p-toolbar><br>

<form (ngSubmit)="onSubmit()" #vesselForm="ngForm"> 

<div class="p-grid">    
    <div class="p-col-12 p-md-6">
        <div class="card">
            <p-accordion>
                <p-accordionTab header="Select Parameters" [selected]="true">
                    <div class="p-fluid">

                        <div class="p-field">
                            <label for="p-field">Classification</label>
                            <p-dropdown filter="true" styleClass="pMultiSelect" [options]="security_labels" [(ngModel)]="model.securityLabel" 
                            class="form-control" id="securityLabel" placeholder="&nbsp;" #securityLabel="ngModel" name="securityLabel" [showClear]="true"></p-dropdown>
                        </div>

                        <div class="p-field">
                            <label for="aspect">Image Aspect</label>
                            <p-dropdown filter="true" styleClass="pMultiSelect" [options]="aspects" [(ngModel)]="model.aspect" 
                            class="form-control" placeholder="&nbsp;" id="aspect" #aspect="ngModel" name="aspect" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="p-field">
                            <label for="iSource">Image Source</label>
                            <p-dropdown filter="true" styleClass="pMultiSelect" [options]="image_sources" [(ngModel)]="model.imageSource" 
                            class="form-control" placeholder="&nbsp;" #imageSource="ngModel" name="imageSource" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </p-accordionTab><br>
            </p-accordion>
            <p-accordion>
            <p-accordionTab header="Image Identifiers">
                <div class="p-fluid">

                    <div class="p-field">
                        <label for="p-field">Sconum</label>
                    <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.sconums" #sconums="ngModel" 
                            name="sconums" placeholder="&nbsp;"></p-chips>
                    </div>
                    <div class="p-field">
                        <label for="aspect">Amidships Id</label>
                    <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.amidshipsId" #amidshipsId="ngModel" 
                            name="amidshipsId" placeholder="&nbsp;"></p-chips>
                    </div>                        
                    <div class="p-field">
                        <label for="aspect">IIR Number</label>
                    <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.iirNumbers" #iirNumbers="ngModel" 
                            name="iirNumbers" placeholder="&nbsp;"></p-chips>
                    </div>
                    <div class="p-field">
                        <label for="iSource">Other Source</label>
                    <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.otherSources" #otherSources="ngModel" 
                            name="otherSources" placeholder="&nbsp;"></p-chips>
                    </div><br>
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <label for="firstname4" class="p-col-12 p-mb-2 p-md-10 p-mb-md-0">Images To Approve</label>
                            <div class="p-col-12 p-md-2">
                                <!-- <input id="firstname4" type="text" pInputText> -->
                                <p-checkbox class="form-control" name="valCheck" [(ngModel)]="model.valCheck" #valCheck="ngModel"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab><br>
        </p-accordion>
        <p-accordion>
            <p-accordionTab header="Primary Image Distribution">
                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Primary Image:</label>
                        <div class="p-col-12 p-md-8">
                                <p-selectButton class="form-control" [options]="imageOptions" [(ngModel)]="model.primeImage" 
                                #primeImage="ngModel" name="primeImage" optionLabel="name"></p-selectButton>
                        </div>
                    </div>
                </div>

                <div class="p-fluid">
                    <div class="p-field p-grid">
                        <label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Distribution:</label>
                        <div class="p-col-12 p-md-8">
                                <p-selectButton class="form-control" [options]="imageOptions" [(ngModel)]="model.distribution" 
                                #distribution="ngModel" name="distribution" optionLabel="name"></p-selectButton>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <div class="card">
            <p-accordion>
            <p-accordionTab header="Query Choices" [selected]="true">          
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="p-field">Sort Field</label>
                        <p-dropdown class="form-control" filter="true" styleClass="pMultiSelect" [(ngModel)]="model.sortField" 
                        #sortField="ngModel" [options]="sortFields" placeholder="&nbsp;" name="sortField" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="p-field p-grid">
                        <label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Page Size:</label>
                        <div class="p-col-12 p-md-8">
                            <p-selectButton class="form-control" styleClass="pMultiSelect" [(ngModel)]="model.pageSize"  
                            #pageSize="ngModel" [options]="pageOptions" name="pageSize" optionLabel="name"></p-selectButton>
                        </div>
                    </div>
                    <div class="p-field p-grid">
                        <label for="firstname4" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Sort Order:</label>
                        <div class="p-col-12 p-md-8">
                            <p-selectButton class="form-control" styleClass="pMultiSelect" [(ngModel)]="model.sortOrder"  
                            #sortOrder="ngModel" [options]="sortOptions" name="sortOrder" optionLabel="name"></p-selectButton>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            </p-accordion>
            <p-accordion>
                <p-accordionTab header="Lookup Sconums" >
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="p-field">IMO</label>
                        <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.imoNumber" #imoNumber="ngModel" 
                        name="imoNumber" placeholder="&nbsp;"></p-chips>
                        </div>
                        <div class="p-field">
                            <label for="aspect">MMSI</label>
                        <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.mmsiNumber" #mmsiNumber="ngModel" 
                        name="mmsiNumber" placeholder="&nbsp;"></p-chips>
                        </div>
                        <div class="p-field">
                            <label for="iSource">Call Sign</label>
                        <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.callSign" #callSign="ngModel" 
                        name="callSign" placeholder="&nbsp;"></p-chips>
                        </div>
                        <div class="p-field">
                            <label for="iSource">Vessel Name</label>
                        <p-chips class="form-control" styleClass="pChipsStyleClass" [(ngModel)]="model.vesselName" #vesselName="ngModel" 
                        name="vesselName" placeholder="&nbsp;"></p-chips>
                        </div>
                    </div>
                </p-accordionTab><br>
            </p-accordion>
            <p-accordion>
                <p-accordionTab header="Select Identifiers" >
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="p-field">Last Modified By</label>
                            <p-dropdown class="form-control" filter="true" styleClass="pMultiSelect" [(ngModel)]="model.modifiedBy" 
                            #modifiedBy="ngModel" name="modifiedBy" placeholder="&nbsp;" [options]="users" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="p-field">
                            <label for="p-field">Approved By</label>
                            <p-dropdown class="form-control" filter="true" styleClass="pMultiSelect" [options]="users" [(ngModel)]="model.approvedBy" 
                            #approvedBy="ngModel" name="approvedBy" placeholder="&nbsp;" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="p-field">
                            <label for="p-field">Uploaded By</label>
                            <p-dropdown class="form-control" filter="true" styleClass="pMultiSelect" [options]="users" [(ngModel)]="model.uploadedBy" 
                            #uploadedBy="ngModel" name="uploadedBy" placeholder="&nbsp;" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </p-accordionTab> <br>
            </p-accordion>     
            <p-accordion>
                <p-accordionTab header="Date Ranges">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="p-field">Select Upload Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                        <div class="p-field">
                            <label for="p-field">Select Enclosure Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                        <div class="p-field">
                            <label for="p-field">Last Modified Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                        <div class="p-field">
                            <label for="p-field">Approver Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                        <div class="p-field">
                            <label for="p-field">Review Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                        <div class="p-field">
                            <label for="p-field">Image Date</label>
                            <p-calendar [showIcon]="true" inputId="icon" placeholder="&nbsp;"></p-calendar>                         
                        </div>
                    </div><br>
                </p-accordionTab>
            </p-accordion>

        </div>

    </div>

</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
        <span style="font-size: 175%;"></span>
 
    </div>

    <div class="p-toolbar-group-right">
        <button pButton type="button" label="Cancel" (click)="onCancel()" icon="pi pi-times"></button>
        <button pButton type="button" class="p-button-secondary" (click) = "onReset()" label="Reset&nbsp;&nbsp;" icon="pi pi-times-circle"></button>
        <button pButton type="button" class="p-button-success" (click)="onSubmit($event)" label="Submit" icon="pi pi-check"></button>
    </div>
</p-toolbar><br>

</form>
